.radio-station{
  text-align: left;
  font-size: 14px;
  margin-top: 35px;
  .top{
    height: 40px;
    border-bottom: 2px solid #c20c0c;
    a:hover{
      text-decoration: underline;
    }
    .title{
      font-size: 24px;
      color: #333;
      a{
        color: #333;
      }
    }
    .more{
      color: #666;
      font-size: 12px;
      cursor: pointer;
    }
  }
  .rdilist{
    width: 435px;
    height: 120px;
    padding: 20px 0;
    .picUrl{
      width: 120px;
      height: 120px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .cnt{
      margin-left: 22px;
      .name{
        color: #333;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        margin: 16px 0 20px;
        &:hover{
          text-decoration: underline;
        }
      }
      .note{
        margin-bottom: 6px;
        line-height: 20px;
        color: #999;
      }
    }
  }
}
