.not-found {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
  background-color: #FCFCFC;

  .tip {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 165px;

    .icon {
      width: 281px;
      height: 115px;
      background: url('@/assets/images/not-found.jpg') no-repeat;
    }

    .text {
      font-family: 'Microsoft Yahei';
      font-size: 18px;
      color: #666666;
    }
  }
}