.music-audio {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 951218;
  width: 100%;
  height: 0;

  .music-audio-playbar {
    position: absolute;
    top: -53px;
    left: 0;
    width: 100%;
    height: 53px;
    margin: 0 auto;

    .updn {
      position: relative;
      z-index: 11;

      .updn-left {
        position: absolute;
        top: -14px;
        right: 15px;
        width: 52px;
        height: 67px;
        background: url(../../assets/image/music-audio/playbar.png);
        background-position: 0 -380px;

        .icon-updn-left {
          display: block;
          width: 18px;
          height: 18px;
          margin: 6px 0 0 17px;
          background: url(../../assets/image/music-audio/playbar.png);
          background-position: -80px -380px;
        }

        .icon-updn-left-lock {
          background-position: -100px -380px;
        }
      }

      .updn-right {
        position: absolute;
        top: -1px;
        right: 0;
        width: 15px;
        height: 54px;
        background: url(../../assets/image/music-audio/playbar.png);
        background-position: -52px -393px;
        pointer-events: none;
      }
    }

    .playbar-bg {
      height: 53px;
      margin-right: 67px;
      background: url(../../assets/image/music-audio/playbar.png);
      background-position: 0 0;
      background-repeat: repeat-x;
    }

    .wrap {
      position: absolute;
      left: 50%;
      top: 6px;
      z-index: 15;
      transform: translateX(-50%);
      width: 980px;
      height: 47px;
      text-align: left;

      .operate-btn {
        display: inline-block;
        vertical-align: middle;
        width: 137px;
        padding: 6px 0 0 0;

        .btn {
          display: inline-block;
          vertical-align: middle;
          width: 28px;
          height: 28px;
          margin-right: 8px;
          text-indent: -9999px;
          background: url(../../assets/image/music-audio/playbar.png);
          outline: none;
          border: none;
          cursor: pointer;
        }

        .prev-btn {
          background-position: 0 -130px;

          &:hover {
            background-position: -30px -130px;
          }
        }

        .look-btn {
          width: 36px;
          height: 36px;
          background-position: 0 -204px;

          &:hover {
            background-position: -40px -204px;
          }
        }

        .look-play-btn {
          background-position: 0 -165px;

          &:hover {
            background-position: -40px -165px;
          }
        }

        .down-btn {
          background-position: -80px -130px;

          &:hover {
            background-position: -110px -130px;
          }
        }
      }

      .music-img {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 34px;
        height: 34px;
        margin-right: 15px;
        cursor: pointer;

        .img {
          width: 100%;
          height: 100%;
        }

        .default-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url(../../assets/image/music-audio/playbar.png);
          background-position: 0 -80px;
        }
      }

      .play {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 608px;

        .play-info {
          height: 28px;
          line-height: 28px;
          color: #e8e8e8;
          text-shadow: 0 1px 0 #171717;
          overflow: hidden;

          .music-name {
            display: inline-block;
            vertical-align: middle;
            max-width: 300px;
            color: #e8e8e8;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }

          .singer-name {
            display: inline-block;
            vertical-align: middle;
            max-width: 220px;
            margin-left: 15px;
            color: #9b9b9b;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }

          .link {
            display: inline-block;
            vertical-align: middle;
            width: 14px;
            height: 15px;
            margin-left: 13px;
            background: url(../../assets/image/music-audio/playbar.png);
            background-position: -110px -103px;
            cursor: pointer;

            &:hover {
              background-position: -130px -103px;
            }
          }
        }

        .play-progress {
          position: relative;
          width: 493px;
          margin-bottom: 5px;

          .progress {
            position: relative;
            width: 493px;
            height: 9px;
            background: url(../../assets/image/music-audio/playbar.png);
            background-position: right 0;

            .current-progress {
              position: relative;
              position: absolute;
              top: 0;
              left: 0;
              width: 16.4761%;
              height: 9px;
              background: url(../../assets/image/music-audio/progress.png);
              background-position: left -66px;

              .icon {
                position: absolute;
                top: -7px;
                right: -13px;
                width: 22px;
                height: 24px;
                margin-left: -11px;
                background: url(../../assets/image/music-audio/play-btn.png);
                background-position: 0 -264px;
              }
              .icon-loading {
                position: absolute;
                top: -2px;
                right: -8px;
                width: 12px;
                height: 12px;
                background: url(../../assets/image/music-audio/loading.gif);
              }
            }

            .total-progress {
              width: 99.9972%;
              height: 9px;
              background: url(../../assets/image/music-audio/progress.png);
              background-position: right -30px;
            }
          }

          .time {
            position: absolute;
            top: -3px;
            right: -84px;
            color: #797979;
            text-shadow: 0 1px 0 #121212;

            .duration {
              color: #a1a1a1;
            }

            .total-duration {}
          }
        }
      }

      .oper {
        width: 60px;
        display: inline-block;
        vertical-align: middle;

        .btn {
          display: inline-block;
          vertical-align: middle;
          width: 25px;
          height: 25px;
          margin: 8px 2px 3px 0;
          text-indent: -9999px;
          background: url(../../assets/image/music-audio/playbar.png);
          outline: none;
          border: none;
          cursor: pointer;
        }

        .collection-btn {
          background-position: -88px -163px;

          &:hover {
            background-position: -88px -189px;
          }
        }

        .share-btn {
          background-position: -114px -163px;

          &:hover {
            background-position: -114px -189px;
          }
        }
      }

      .other {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 113px;
        padding-left: 13px;

        .btn {
          display: inline-block;
          vertical-align: middle;
          width: 25px;
          height: 25px;
          margin: 6px 2px 0 0;
          text-indent: -9999px;
          background: url(../../assets/image/music-audio/playbar.png);
          outline: none;
          border: none;
          cursor: pointer;
        }

        .volume-btn {
          background-position: -2px -248px;

          &:hover {
            background-position: -31px -248px;
          }
        }

        .mode-btn {
          background-position: -66px -344px;

          &:hover {
            background-position: -93px -344px;
          }
        }

        .list-btn {
          width: 56px;
          background-position: -42px -68px;

          &:hover {
            background-position: -42px -98px;
          }
        }
      }

      .list-text {
        position: absolute;
        top: 13px;
        left: 77%;
        width: 25px;
        color: #666;
      }
    }
  }
}