.music-my-singer,
.music-my-mv {
  height: 36px;
  line-height: 36px;
  padding-left: 35px;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: simsun, \5b8b\4f53;
  cursor: pointer;

  &:hover {
    background: #eee;
  }
}

.my-singer-active,
.my-mv-active {
  background: #eee;
}
