.music-my-singer,
.music-my-mv {
  height: 36px;
  padding-left: 35px;
  font-family: simsun, '\5b8b\4f53', sans-serif;
  font-size: 14px;
  line-height: 36px;
  color: #000;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

.my-singer-active,
.my-mv-active {
  background-color: #eee;
}
