* {
  padding: 0;
  margin: 0;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100vw;
  min-width: 1200px;
  background-color: #ffffff;
  overflow-x: auto;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea {
  background-color: #fff;
}

i,
img {
  display: inline-block;
}