.my-music {
  background: #f5f5f5;
  .my-music-login {
    width: 980px;
    min-height: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
    .login-content {
      position: relative;
      width: 807px;
      height: 268px;
      margin: 0 auto 0;
      padding-top: 104px;
      background: url(../../assets/image/my-music/my-music-login.png) no-repeat;
      background-position: 0 104px;
      background-size: contain;
      .login-btn {
        position: absolute;
        top: 305px;
        left: 481px;
        width: 167px;
        height: 45px;
        background-position: 0 9999px;
        text-indent: -9999px;
        background: url(../../assets/image/my-music/my-music-login.png) no-repeat;
        background-position: 0 9999px;
        background-size: contain;
        outline: none;
        border: none;
        cursor: pointer;
      }
      .login-btn:hover {
        background-position: 0 -278px;
      }
    }
  }
}